/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */



.top-header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
  
}

.top-header ul li a{
	text-decoration: none;
	color: grey;

	
	
}

.top-header ul li a:hover{

color: black;

}

.container-zero, .container-one, .container-two {
  
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
padding: 0 20px;
}

.column, .column-3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
	margin: 0 20px;
}

.column p{
	text-align: left;
}

.title {
display: flex;
font-size: 80px;
flex-direction: column;
justify-content: center;
align-content: center;
text-align: center;
}



.button {
	border: 1px solid black;
	padding: 7px 13px;
	text-align: center;
	width: 55%;
	margin: 20px auto;
	font-weight: 600;
	text-decoration: none;
	color: black;
}

.central-image{
	display: flex;
	justify-content: center;
	padding-bottom: 10px;
	
}

.line, .line-2 {
	border-bottom: 3px solid black;
	padding: 10px;
	padding-bottom: 5px;
	
	}

	.footer-info{
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
        align-items: flex-start;
		margin: 62px;
		}
	
	
	.footer-content .footer-info{
		width: 10%;
	}
	
	
	.footer-info a{
		line-height: 24px;
		color: black;
		text-decoration: none;
	}

	.copyright {
		width: 80%;
		margin: 0 auto;
		font-weight: 600;
		text-align: center;
		padding: 40px;
	}